<h1> <%= @task.title %></h1>

<%= @task.details %>

<p><%= @task.completed ? "This task is completed :D" : "This task is not yet completed :(" %></p>

<%= link_to tasks_path do %>
  <div class="btn btn-primary">Back to list</div>
<% end %>

<%= link_to edit_task_path do %>
  <div class="btn btn-primary">Edit task</div>
<% end %>

<%= link_to task_path(@task), method: :delete, data: {confirm: "Are you sure?"} do %> <i class="fas fa-trash"></i> <% end %>
